#gia {
    color:rgb(99, 10, 182);
}
#them {
    background-color: rgb(61, 2, 116);
    width: 200px;
    height: 50px;
}
img {
    width: 400px;
    height: 400px;
}
a {
    color: aliceblue;
    font-size: 20px;
}
p {
    font-size: 30px;
}
body {
    margin: 50px;
}