#gia {
    color:rgb(83, 0, 83);
}
#them {
    background-color: rgb(61, 2, 116);
    width: 170px;
    height: 40px;
}
img {
    border: 5px solid yellow;
    width: 400px;
    height: 400px;
}
button {
    color: aliceblue;
    background-color: rgb(120, 3, 159);
    font-size: 20px;
}
p {
    font-size: 30px;
}
body {
    margin: 50px;
}