#father {
  background-color: rgb(1,25,38);
}
#son {
  background-color: rgb(235,234,230);
}
#menu {
  color: white;
  text-align: center;
  font-size: 20px;
}
#content {
  width: auto;
  display: flex;
}
.text-content {
  text-align: center;
  padding: 10px;
  font-size: 20px;
}
#right-text {
  padding-top: 10%;
  width: 70%;
  float: right;
}
#right-content {
  text-align: auto;
}

.a-text {
  color: white;
  text-decoration: none;
  padding: 10px;
}
#image {
  width: 30%;
  padding: 30px;
  float: left;
}
#title {
  text-align: center;
  padding-top: 50px;
}
#button {
  width: 250px;
  height: 35px;
  background-color: orange;
  color: white;
  font-size: 15px;
  border: none;
}
#div-button {
  width: fit-content;
  padding-top: 40px;
  margin: auto;
}
#footer {
  text-align: center;
  padding: 20px;
}
.footer-text {
  color: white;
  font-size: 17px;
}
.footer-button {
  width: 350px;
  background-color: orange;
  border: none;
}