* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/*  style for parent */
#parent {
  display: flex;
  height: 700px;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

/* style for box  */
.box {
  width: 400px;
  height: 420px;
  background-color: rgba(227, 222, 222, 0.632);
  padding: 10px;
}
/* style for box-1  */
.box-1 div {
  text-align: center;
}
.box-1 div p:first-child {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}
/* style for box-2 */
.box-2 {
  display: flex;
  align-items: center;
}
.box-2 div:first-child {
  width:50%;
}
.box-2 div span{
  font-weight: bold;
}
.box-2 div button {
  display: block;
  margin: 20px auto;
  padding: 0px 20px;
  background-color: rgba(0,0,0,0);
  border: 1px solid black;
}
.box-2 div p:first-child {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
}
/* style for box-3 */
.box-3 div{
  display: block;
  width: 100%;
}
.box-3 div p {
  text-align: center;
}
.box-3 div p:first-child {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 30px
}
.box-3 div:first-child {
  display: flex;
  justify-content: center;
}
/* style for img  */
div img {
  width: 100%;
}
.box-3 div img{
  display: block;
  width: 50%;
}