#title {
    color: rgb(224, 150, 11);
    text-align: center;
    text-transform: uppercase;
    
}
#text {
    font-size: 20px;
}
.text_1 {
    font-weight: 800;
}
#text_2 {
    font-style: italic;
}
#trich {
    text-align: end;
}